body {
    font-family: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.profile-cards {
    background-color: #233343;
    padding: 1.5rem;
    overflow: hidden;
}

.container {
    max-width: 1100px;
    min-height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-content: center;
    gap: 2em;
}

.card {
    position: relative;
    width: 18em;
    height: 25em;
    perspective: 1000px;
    color: #fff;
    transition: 200ms ease-out;
}

.card-inner {
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 5px solid #fff;
    border-radius: 5em 0 5em 0;
    backface-visibility: hidden;
}

.front {
    background-color: #fff;
}

.back {
    transform: rotateY(180deg);
    background-color: #051320;
    padding: 3em 1.5em 1.5em 2em;
}

.back p {
    line-height: 1.7em;
    margin-bottom: 1em;
}

.profile-img {
    border-top-left-radius: 5em;
    width: 100%;
    height: 60%;
    overflow: hidden;
    background-image: linear-gradient(90deg
    #fff 0%,
    #fff 50%,
    #051320 51%,
    #051320 100%);
}
.profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom-right-radius: 5em;
}

.card-content {
    background-color: #051320;
    border-bottom-right-radius: 5em;
    padding: 0.5em 2em 0.5em 1.5em;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.7em;
}

.card-content h2 {
    width: min-content;
    padding-top: 10px;
    border-top: 4px #76dcc3 solid;
    display: inline-block;
}

.more-btn {
    position: absolute;
    right: 2em;
    top: 50%;
    background-color: #fff;
    border: none;
    border-radius: 50%;
    width: 4em;
    height: 4em;
    transition: 200ms;
    cursor: pointer;
}

.more-btn:hover {
    background-color: #c4c4c4;
}

.more-btn span {
    background-color: #051320;
    position: absolute;
    transform: translate(-50%, -50%);
}
.more-btn span:first-child {
    width: 1.8em;
    height: 3px;
}
.more-btn span:last-child {
    width: 3px;
    height: 1.8em;
}

.card-inner::before,
.card-inner::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.card-inner::before {
    background-image: linear-gradient(0deg, #518982 0%, #76dcc3 10%);
    width: 2em;
    height: 50vh;
    bottom: 24em;
    z-index: 1;
}

.card-inner::after {
    background-color: #233343;
    top: 0.7em;
    width: 2.8em;
    height: 7px;
    border-radius: 2px;
}

.back-btn {
    border-color: transparent;
    border: none;
    font-size: 1.1em;
    cursor: pointer;
    color: #76dcc3;
    background: none;
}

.card-flipped {
    transform: rotateY(180deg);
}

@media screen and (min-width: 1000px) {
    .card:nth-child(2) {
        transform: translateY(-50px);
    }
    .card:nth-child(2):hover {
        transform: translateY(-60px);
    }
    .card:hover {
        transform: translateY(-10px)
    }
}

@media screen and (max-width: 1000px) {
    .container {
        grid-template-columns: 1fr;
    }
    .card:nth-child(1) {z-index: 3;}
    .card:nth-child(2) {z-index: 2;}
    .card:nth-child(3) {z-index: 1;}
}